* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Styling the Header */
.header {
    padding: 7px 0px;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(78, 81, 83);
    display: flex;
    flex-direction: row;
}

.header h1 {
    padding-top: 12px;
    padding-right: 7px;
    margin-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(167, 232, 243);
    color: rgb(78, 81, 83);
    width: 350px;
    text-align: right;
    display: inline-block;
    font-size: 30px;
}
/* Styling the Unordered List */
.header div {
    padding-top: 15px;
    padding-left: 600px;
    margin-right: 5px;
    float: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 10px;
}

/* Styling the List Item Links */
a {
    color: rgb(167, 232, 243);
    text-decoration-line: underline;
    text-underline-offset: 3px;
    font-size: 20px;
}

section {
    padding: 60px;
}

section h1 {
    width: 600px;
    height: 25px;
    color:red;
}

/* Hero Style Start */
.hero {
    width: 1536px;
    height: 150px;
    display:flex; 
    background-image: url("../assets/images/teal-background-1.jpg"); 
}
/* Hero Style End */

/* Subtitle Text */
.subtitle {
    color: red;
    position: absolute;
    right: 150px;
    top: 150px;
    background-color: rgb(167, 232, 243);
    width: 400px;
    height: 70px;
    padding: 27px 20px;
    text-align: center;
}


