/* Universal styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}

/* Styling the Header */
.header {
    padding: 7px 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: end;
}

/* Styling the Unordered List */
.header div {
    padding-top: 15px;
    padding-left: 1000px;
    margin-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.header div ul li {
    display: inline-block;
    margin-bottom: 10px;
}

/* Styling the list item links */
a {
    color: whitesmoke;
    font-size: 15px;
    margin-left: 25px;   
}

a:hover {
    color: rgb(46, 202, 202);
}

/* Styling resume anchor link in nav */
.resume-nav {
    color: rgb(46, 202, 202);
    border: 2px solid rgb(46, 202, 202);
    padding: 10px;
    border-radius: 5px;
}

.resume-nav:hover {
    color: white;
}

/* Styling the header h1 */
.name h1 {
    color: whitesmoke;
}

section {
    padding: 20px;
}

section h1 {
    width: 600px;
    height: 25px;
    color:red;
    margin: 0px;
}

.work p {
    color: whitesmoke;
}

/* Hero Style Start */
.hero {
    width: 100vw;
    height: 150px;
    display:flex; 
    justify-content: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    width: 0px;
}

/* Subtitle Text */
.subtitle {
    color: white;
    position: relative;
    left: 400px;
    top: 15px;
    width: 740px;
    height: 120px;
    padding: 35px 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
}

.hero span {
    color: rgb(46, 202, 202);
}

/* About Me Section */
.about-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
    color: rgb(46, 202, 202);
 
}

section h1 {
    margin: 20px;
}

/* Contact Me Section */
.contact-me {
    font-size: 20px;
    color: whitesmoke;
}

.contact-me a {
    line-height: 2.5;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
    font-size: 25px;
}

/* Resume Section */
.resume {
    background-color: black;
    font-size: 20px;
    padding-bottom: 75px;
    border: double;
}

.resume a {
    font-size: 25px;
}

/* Footer */
.footer {
    padding: 7px 0px;
    margin-bottom: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    border: rgb(78, 81, 83);
    border: double;
}

.footer h1 {
    padding: 5px;
    padding-left: 50px;
    font-size: 25px;
    color: whitesmoke;
}

.img__wrap,
.img__wrap2,
.img__wrap3 {
  height: fit-content;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.img-area img {
  width: 500px;
  height: 300px;
}

.img-area {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.work h1 {
  width: fit-content;
}